#header {
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    th, td {
      border: 0;
      display: block;
    }
  
    th {
      background-color: transparent;
    }
  
    td {
      padding: 8px 0;
      border-bottom: 1px solid #dddddd;
    }
  
    td::before {
      content: attr(data-label);
      font-weight: bold;
      display: inline-block;
      width: 50%;
    }
  }
  